<!-- Program Day Section -->
<section class="site-section about-section next-section-indicator" id="program-day">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="text-center col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Program Day</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <h3>Session Topics Include<br/><br/></h3>
        <ul style="list-style-type: circle;">
          <li>Federal Agencies Innovating Through OpenStreetMap</li>
          <li>Executive Roundtable: &nbsp;Building Federal Programs Through Open Ecosystems</li>
          <li>Assuring Federal Program Software Supply Chains Using OSS</li>
          <li>Open Source Geospatial Software &amp; Federal Programs (Two Sessions)</li>
          <li>Finding FOSS4G Solutions for Building Federal Programs</li>
          <li>Programs Creating Open Source Software: &nbsp;&ldquo;Sharing the Geospatial Love Through FOSS
            Development&rdquo;</li>
          <li>Machine Learning &amp; Open Ecosystems (Three Sessions)</li>
          <li>Human-in-the-Loop Active Learning AI</li>
          <li>Open, Standardized Data and Methodologies for Federal AI/ML Programs</li>
          <li>Open Ecosystems for AI/ML-Based Object Detection</li>
          <li>Applying Open Innovation Culture and Effective Models within Federal Agencies to Tackle Geospatial
            Challenges</li>
          <li>Lightning Talks and Networking</li>
        </ul>
        </p>
      </div>
    </div>

  </div>
</section>