<!-- Program Session Section -->
<section class="site-section about-section next-section-indicator" id="program-sessions">
  <div class="container">
    <!-- Section Heading -->
    <div class="row">
      <!-- Section Header -->
      <header class="text-center col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Program Sessions</h2>
        <hr class="normal" />
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <h2>Program Day - June 8</h2>
        <p> Program Day includes plenary presentations, panel discussions, and lightning talks by leading experts.</p>

        <h2>Hands On Day - June 9</h2>
        <p>
          Hands On Day includes an extensive set of training opportunities on leading open source technologies. Hands on Day will require
          registration for specific sessions and sessions may have a minimal fee.
        </p>
      </div>
    </div>
  </div>
</section>
