<!-- Program Section -->
<section class="site.data.program-section program-section next-section-indicator" id="program">
  <div class="container">
    <!-- Section Heading -->
    <div class="row text-center">
      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.data.program.program-title }}</h2>
        <hr class="normal" />
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.data.program.program-description }}</p>
      </div>
    </div>

    <!-- Filter Menu -->
    <div class="row filter-menu-wrapper">
      <div class="col-md-8 col-md-push-2">
        <div class="filter-menu">
          <ul>
            <li data-filter="all" class="current">All</li>

            {% for category in site.data.program.program-categories %}
            <li data-filter=".{{ category | replace:' ','-' | downcase }}">{{ category }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Program Grid -->
    <div class="row program-grid">
      {% for item in site.data.program.program %}

      <div class="col-md-4 col-sm-6 item visible {% for category in item.categories %} {{ category | replace:' ','-' | downcase }}{% endfor %}">
        <figure class="img-wrap">
          <img
            src="./images/program/{{ item.categories | first }}.jpg"
            alt="{{ item.categories | first }} Item Image"
          />
        </figure>
        <div class="item-title">
          <h3>{{ item.time | date: "%I:%M%p" }}</h3>
          <br />
          <h3>{{ item.title }}</h3>
        </div>
        <div class="item-content">
          <a
            href="./images/program/{{ item.categories | first }}.jpg"
            class="item-expand"
            data="
              <h2>{{ item.title | escape }}</h2>
              {% if item.time %}<h3 class='session-time'>{{item.time | date: '%B %e, %-I:%M %p Eastern Time' }}</h3>{% endif %}
              <div class='tags'>
                {% for cat in item.categories %}
                  <div class='tag'>{{ cat }}</div>
                {% endfor %}
              </div>              
              {% if item.moderator or item.mc%}
              <div class='moderator'>
                {% if item.moderator %} Moderated by: {{ item.moderator.first | escape }}{% endif %}
              </div>
              {% endif %}
              <hr />
              {% for participant in item.participants %}
                {% if participant %}<div class='participant'>&#8212;{{participant}}</div>{% endif %}
              {% endfor %}
              {% for prez in item.presentations %}
                <div class='prez'>
                  <div class='prez-title'>{{prez.title}}</div>
                  <div class='prez-by'>
                    <div class='prez-presenter'>{{prez.name}}</div>
                    <div class='prez-org'>{{prez.org}}</div>  
                  </div>
                </div>
              {% endfor %}     
              {% if item.description %} 
              <hr />
              <p>{{item.description | escape}}</p>
              {% endif %}        
              "
            >Get More Information</a
          >
        </div>
      </div>

      {% endfor %}

      <!-- Overlay Lightbox -->
      <div id="overlay" class="overlay"></div>
    </div>
  </div>
</section>
