<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Open Source Geospatial in the Federal Government</div>
            <div class="intro-heading">FedGeoDay <span class='highlight-new'>&nbsp;2021&nbsp;</span></div>
            <div class="intro-lead-in">June 8th and 9th</div>
            <div class="intro-lead-in">Online</div>
            <h4 style="margin-top: 100px;"><a href='https://2020.fedgeo.us'>Please click here if you would like to see last years content</a></h4>
        </div>
    </div>
</header>