$orange: #fdaf17;

.fedgeoday-title {
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: bold;
}

.orange-text-shadow {
  text-shadow: 1px 1px $orange;
}

.black-text-shadow {
  text-shadow: 2px 2px black;
}

// hide hamburger menu
.toggle-menu {
  display: none !important;
}

#sponsors {
  .sponsor-row {
    // margin: 100px auto;
    text-align: center;
    width: 100%;
    img {
      display: inline-block;
      margin: 50px 50px;
      max-height: 200px;
      max-width: 500px; 
      
      @media screen and (max-width: 800px) {
        max-width: calc(100% - 100px);
      }
    }  
  }
}

#home {
  .cover-attribution {
    bottom: 30px;
    color: #ffcb2e;
    position: absolute;
    right: 30px;
  
    @media (max-width: 750px) {
      bottom: 15px;
      font-size: 12px;
      right: 15px;
    }
  }
  
  .title-break {
    display: none;
    @media (max-width: 800px) {
      display: block;
    }
  }
  
  .title-bar {
    display: inline-block;
    @media (max-width: 800px) {
      display: none;
    }
  }
}

#program #overlay img {
  min-height: 90%;
}

.session-time {
  margin-top: 10px;
}

.tag {
  background: #21c2f8; // $light-blue
  border-radius: 5px;
  color: rgb(230, 228, 228);
  display: inline-block;
  margin: 10px 5px;
  padding: 3px 5px;

  &:first-child {
    margin-left: 0;
  }
}

.moderator {
  font-size: .8em;
}

.participant {
  margin-top: 10px;
}

.prez {
  background: rgb(241, 240, 240);
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
  .prez-title {
    display: block;
    font-weight: bold;
  }
  .prez-by {
    .prez-presenter {
      display: inline-block;
      font-size: .8em;
      font-weight: bold;
    }
    .prez-org {
      display: inline-block;
      font-size: .7em;
      font-weight: normal;
    }
  }
}