$orange: #fdaf17;

.fedgeoday-title {
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: bold;
}

.orange-text-shadow {
  text-shadow: 1px 1px $orange;
}

.black-text-shadow {
  text-shadow: 2px 2px black;
}

// hide hamburger menu
.toggle-menu {
  display: none !important;
}

#sponsors {
  .sponsor-row {
    margin: 100px auto;
    text-align: center;
    width: 100%;
    img {
      display: inline-block;
      margin: 50px 50px;
      max-height: 200px;
      max-width: 500px;  
    }  
  }
}

.cover-attribution {
  bottom: 30px;
  color: #ffcb2e;
  position: absolute;
  right: 30px;

  @media (max-width: 750px) {
    bottom: 15px;
    font-size: 12px;
    right: 15px;
  }
}